home/.config/dwb/default/
home/.config/rtv/refresh-token
home/.config/rtv/history.log
home/.config/ranger/history
home/.config/ranger/bookmarks
home/.mpv/watch_later/*
home/.config/gtk-3.0/bookmarks
home/.config/gtk-2.0/gtkfilechooser.ini
