
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.autohint: true
Xft.lcdfilter: lcddefault

URxvt*font: \
    xft:PragmataPro:pixelsize=10:antialias=true,xft:Inconsolata for Powerline:pixelsize=11:antialias=true,\
    xft:Sauce Code Powerline:pixelsize=10:antialias=true,\
    xft:FontWesome:size=8, \
    xft:SourceCodePro:size=9,\
    xft:UbuntuMono:size=9,\
    xft:DejaVuSansMono:size=11,\
    xft:DroidSansMono:size=11,\
    xft:Inconsolata:size=12,\
    xft:Symbola:size=9,\
URxvt*boldFont: xft:Sauce Code Powerline:size=9:antialias=true

URxvt*letterSpace: -1

URxvt*saveLines: 10000
URxvt*transparent: true
URxvt*shading: 26

!! scrollbar style - rxvt (default), plain (most compact), next, or xterm
URxvt*scrollBar: false
URxvt*scrollstyle: plain
URxvt*scrollWithBuffer: true
URxvt*scrollBar_right: false

URxvt*perl-ext: default,url-select,keyboard-select,matcher,clipboard,vtwheel
URxvt*url-select.launcher: /usr/bin/firefox -new-tab
URxvt*matcher.button:   1
URxvt*clipboard.autocopy: true
URxvt*selection.pattern-0: ([[:word:]]+)
URxvt*urgentOnBell: True

URxvt*keysym.A-c: perl:clipboard:copy
URxvt*keysym.A-v: perl:clipboard:paste
URxvt*keysym.M-C-v: perl:clipboard:paste_escaped
URxvt*keysym.A-Escape: perl:keyboard-select:activate
URxvt*keysym.M-s: perl:keyboard-select:search
URxvt*keysym.M-u: perl:url-select:select_next

xterm*faceName: xft:DejaVuSansMono:size=10
xterm*termName: xterm-256color
xterm*saveLines: 4096
xterm*utf8: true
Xterm*alternateScroll: true

xterm*foreground: rgb:b2/b2/b2
xterm*background: rgb:08/08/08

URxvt*background: rgba:0000/0000/0200/B700
URxvt*foreground: [100]#ffffff

!black
*color0:	#191919
*color8:	#484848
!red
*color1:	#CC2222
*color9:	#FF4949
!#BE6262
!green
*color2:	#66B61A
*color10:	#4B8A10
!yellow
*color3:	#D98E1D
*color11:	#ffa64f
!#E5D95E
!Blue
*color4:	#204a87
*color12:	#3465a4
!magenta
*color5:	#9A005B
*color13:	#D500CA
!Cyan
*color6:	#8C54FE
*color14:	#9E6FFE
!white
*color7:	#EAEAEA
*color15:	#BBBBBB

Xcursor*theme: Pulse-Glass
